<div class="container">
  <div>
    <ul >
      <% @todos.each do |todo| %>
        <!--    <li>-->
        <li>
          <a href="<%= todo_path(todo) %>">
            <%#= link_to todo.title, todo %>
            <div>
              <span  style="font-weight: bold"><%= todo.title %></span>
            </div>
            <div>
              <span>Status : <%= todo.status %></span>
            </div>
          </a>
          <span class="actions">
            <form action="/todos/<%= todo.id %>" method="delete">
              <input type="hidden" name="_method" value="delete">
              <button>Delete</button>
            </form>
          </span>
        </li>
        <!--    </li>-->
      <% end %>
    </ul>
    <a href=<%= new_todo_path %>><div class="addButton" ><span>Add Todo</span></div></a>
  </div>
</div>